.select_box{
	width: 100%;
	height: 200px;
	border: gainsboro solid 1px;
	margin-top:50px;
}

.all_span
{
	float: left;
	width: 1050px;
	margin-top: 20px;
}
.all_span span {
	margin-left: 30px;
	font-size: 1.2em;
	margin-top: 10px;
	display: inline-block;
	cursor: pointer;
}

.all_span span:hover{color: red;}


.demo--label{margin:20px 20px 0 0;display:inline-block}
.demo--radio{display:none}
.demo--radioInput{background-color:#fff;border:2px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;height:24px;margin-right:10px;margin-top:-1px;vertical-align:middle;width:24px;line-height:1}
.demo--radio:checked + .demo--radioInput:after{background-color:red;border-radius:100%;content:"";display:inline-block;height:10px;margin-left:5px;margin-top:5px;width:10px}
.demo--checkbox.demo--radioInput,.demo--radio:checked + .demo--checkbox.demo--radioInput:after{border-radius:0}
.demo--radio:checked + .demo--radioInput{border:2px solid red;}




	/*设置div样式的整体布局*/
	.page-icon{
		font-size:0;/*修复行内元素之间空隙间隔*/
		text-align:center;/*设置内容居中显示*/
		width: 100%;
	}
